.navbar-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: solid black 1px;
}

.content {
    display: flex;
}

.li-container{
    display: flex;
}
li{
    list-style-type: none;
    cursor: pointer;
    color: #3498db;
}

li a {
    text-decoration: none;
    margin-right: 15px;
}

.cart-container{

}

.cart-container a {
    text-decoration: none;
}
