.cart-item-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;



    .cart-item-picture{
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
    }

    .cart-item-content{
        display: flex;
        flex-direction: row;
        align-items: center;

        .cart-item-infos{
            margin-left: 15px;
        }
    }


    .remove-product-in-cart-button{
        background-color: firebrick;
        color: #fff;
        font-size: 17px;
        padding: 0 15px;
        height: 35px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}